{% extends 'base_gerencia.html' %}

{% block main %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Gerenciar Categorias</h1>
<p class="mb-4">Aqui você pode editar ou remover as categorias existentes.</p>

<!-- Filtro de Categorias -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Filtrar Categorias</h6>
    </div>
    <div class="card-body">
        <form method="get">
            <div class="form-group mb-3">
                <label for="id_nome">Nome da Categoria</label>
                {{ formularioFiltro.nome }}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
        </form>
    </div>
</div>


<!-- Tabela de Categorias -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listagem de Categorias</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.nome }}</td>
                        <td>
                            <a href="{% url 'gerencia:editar_categoria' categoria.id %}"
                                class="btn btn-warning btn-sm">Editar</a>
                            <form action="{% url 'gerencia:deletar_categoria' categoria.id %}" method="POST"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Paginação -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if categorias.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ categorias.previous_page_number }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for page_num in categorias.paginator.page_range %}
                <li class="page-item {% if categorias.number == page_num %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}

                {% if categorias.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ categorias.next_page_number }}" aria-label="Próxima">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<!-- Botão de Cadastro -->
<div class="d-flex justify-content-end">
    <a href="{% url 'gerencia:cadastro_categoria' %}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Cadastrar Nova Categoria</span>
    </a>
</div>

{% endblock %}